.nnn{
    background-color: #37517e;
}


.nnn1{
    background-color: #47b2e4;
}

.nnn3{
    color:#37517e ;
}


.nnn4{
    background-color: #f5f7f9;
}


.nnn5{
    color: grey;
}

.nnn6{
    background-color: #37517e;
}